:root {
  --black: #0d0d0d;
  --gray: #7b7b7b;
  --white: #ffffff;
  --red: #d92323;
  --dark-red: #732424;
  --yellow: #f2e852;
  --dark-yellow: #8c6723;
  --light-bg: #faefef;
  --dark-bg: #3a1212;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
    width: 100vw;
    height: 100vh;
  font-family: "JetBrains Mono", monospace;
  font-style: normal;
  font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: stretch;
  background-color: var(--dark-bg);
  margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  background-color: var(--dark-red);
  padding: 0.6rem;
}

.headerLogo {
    height: 5.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
    margin-left: 1.6rem;
}

#logo {
  width: 5.4rem;
  height: 5.4rem;
}

#title {
  font-size: 3.4rem;
    font-weight: 600;
  color: var(--light-bg);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 2%;
  padding: 2%;
}

#textToAscii {
  background-color: var(--light-bg);
  flex: 1;
  border-radius: 2.4rem;
}

#imageToAscii {
  background-color: var(--light-bg);
  flex: 1;
  border-radius: 2.4rem;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 1.6rem;
    margin: 0 4.8rem;
    max-width: 20%
}

.link {
    width: 15rem;
    font-size: 2rem;
    text-align: center;
    padding: 0.8rem;
    border-radius: 2.4rem;
    background-color: var(--dark-red);
    text-decoration: none;
    transition: 0.2s;
    text-shadow: 0.2rem 0.2rem 0 var(--dark-red);
    border: 0.2rem solid var(--dark-red);
    box-shadow: 0 0.2rem 0 var(--dark-red);
  color: var(--light-bg);
    white-space: no-wrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.link:hover {
    background-color: var(--red);
    text-shadow: 0.2rem 0.2rem 0 var(--black);
    border: 0.2rem solid var(--black);
    box-shadow: 0 0.2rem 0 var(--black);
}

.link:active {
    transform: translateY(0.2rem);
    box-shadow: 0 0rem 0 var(--black);
}

.disableBtn {
    pointer-events: none;
    cursor: default;
    text-shadow: 0.2rem 0.2rem 0 var(--black);
    background-color: var(--gray);
    border: 0.2rem solid var(--black);
    box-shadow: 0 0.2rem 0 var(--black);
}
